body{
    background-color: #191919;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat';

}
.nav1{
    
    height: 12vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color:black;
  
    }
.headerbar
{
    position: absolute;
    display:inline-block;
    background-color: black;
    top : 19px;
}
.headerbar2
{
    position: absolute;
    display:inline-block; 
    right: 89px;
    top:25px   
}
.welcome
{
    color: white;
    font-weight: 500;
    font-size: 32px;
    font-family: 'Montserrat';
    
}
.fname
{
    font-weight: 500;
    font-size: 16px;
}
.iname
{
    height: 56px;
    width: 505px;
    border-radius: 6px;
    
}

.fbox
{
    top: 136.26px;
 
}
.tbox
{
   color:rgba(255, 239, 0, 1);
   position: absolute;
   left: 30%;  
}
.Already
{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.log
{
    list-style : none ;
    border : 2px solid rgba(255, 239, 0, 1);
    font-size: 18px;
    width: 120px;
    height: 35px;
    border-radius : 5px ;
    color:rgba(255, 239, 0, 1) ;
    background-color: rgba(5, 5, 5, 0);
}
.sign
{
    list-style : none ;
    border : 2px solid rgba(255, 239, 0, 1);
    font-size: 18px;
    width: 120px;
    height: 35px;
    border-radius : 5px ;
    color:rgba(255, 239, 0, 1) ;
    background-color: rgba(5, 5, 5, 0);
}
.signup
{
    height: 56px;
    width: 514px;
    border-radius: 6px; 
    background-color:rgba(255, 239, 0, 1);
    font-weight: 700;
    font-size: 24px;
}

