p {
    color: white;
    margin-top: 30px;
    margin-bottom: 30px;
}

.nav {
    height: 12vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    background-color: black;
}

.logoDiv {
    margin-left: 44px;
}

.writeupDiv {
    margin-left: 120px;
    margin-top: 287px;
}

.writeup1 {
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0.1em;
    text-align: left;
}

.writeup2 {
    font-family: Montserrat;
    font-size: 50px;
    font-weight: 700;
    line-height: 61px;
    letter-spacing: 0em;
    text-align: left;
    color: #ffef00;
}

.writeup3 {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
}

.button {
    background: linear-gradient(180deg, #ffef00 0%, #ffef00 100%);
    border-radius: 5px;
    width: 250px;
    height: 56px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 900;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
}

.writeup4 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
}
